build/
bin/
obj/
cmake-build-debug/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

*.o
*.obj
*.lo
*.la
*.al
*.libs
*.so
*.dylib
*.dll
*.exe

*.swp
*~
*.user
*.suo
*.sln
*.ncb
*.vcproj
*.vcxproj
*.idea/
*.vscode/

*.log
*.sql
*.sqlite

.DS_Store
Thumbs.db